<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_headers.c>
  Header always set Permissions-Policy: interest-cohort=()
</IfModule>

<filesMatch ".(jpg|jpeg|png|gif|ico|webp)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

Redirect 302 /zoom https://us02web.zoom.us/j/2202766707?pwd=dTVreXJLQXFzdVNrTUp0aVpZUzdJUT09
Redirect 302 /telegram https://t.me/efgludwigshafen
Redirect 302 /whatsapp https://chat.whatsapp.com/EqHjh3PjCTcLARdD84zgo3
Redirect 302 /youtube https://www.youtube.com/channel/UCKg6EAu6yE9FSJj2wjNvB-Q
Redirect 302 /anchor https://anchor.fm/efgludwigshafen
Redirect 302 /instagram http://instagram.com/efgludwigshafen/
Redirect 302 /facebook http://facebook.com/efglu
Redirect 302 /paypal https://www.paypal.com/donate?hosted_button_id=DGLL9UQBHAZHQ
Redirect 302 /paypal-cancel https://efg-ludwigshafen.de/#!/de/give/cancel
Redirect 302 /paypal-completed https://efg-ludwigshafen.de/#!/de/give/completed
Redirect 302 /packparty https://efg-ludwigshafen.de/#!/de/packparty/
Redirect 302 /anmeldung https://efg-lu.church.tools/publicgroup/221
Redirect 302 /ichkomme https://efg-lu.church.tools/publicgroup/221
Redirect 302 /ich-komme https://efg-lu.church.tools/publicgroup/221
Redirect 302 /downloads https://efg-ludwigshafen.de/#!/de/downloads/
Redirect 302 /infektionsschutzkonzept https://efg-ludwigshafen.de/#!/de/infektionsschutzkonzept
Redirect 302 /taufkurs https://efg-lu.church.tools/publicgroup/230
Redirect 302 /tauf-kurs https://efg-lu.church.tools/publicgroup/230
