<div class="component component-almost-viewport">
	<ui-gmap-google-map center="geo.map.center"
						zoom="geo.map.zoom"
						options="geo.map.options"
						bounds="geo.map.bounds"
                        ng-if="geo.map">
		<ui-gmap-marker idkey="geo.we.id"
						coords="geo.we.coords">
			<ui-gmap-window show="true">
				<div>
					<p>Wir</p>
					<address>{{geo.we.street}}<br>{{geo.we.city}}</address>
				</div>
			</ui-gmap-window>
		</ui-gmap-marker>
		<ui-gmap-marker ng-if="geo.you !== undefined"
						idkey="geo.you.id"
						coords="geo.you.coords">
			<ui-gmap-window show="true">
				<div><p>Du</p></div>
			</ui-gmap-window>
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>
<component classes="component-lg"
		   header="{{geo.we.street}}, {{geo.we.city}}"
		   subheader="Plane Deinen Weg zu uns.">
	<div class="col-sm-6" ng-repeat="connection in geo.connections">
		<h3>{{connection.title}}</h3>
		<p class="u-space-horizontal">
			<a ng-href="{{connection.url}}"
			   class="btn btn-lg btn-outline"
			   target="_blank">{{connection.action}}</a>
		</p>
		<div btf-markdown="connection.description"></div>
	</div>
</component>