<div class="component component-almost-viewport">
	<ng-map zoom="11"
					zoom-to-include-markers="auto"
					center="{{geo.markers[0].lat()}}, {{geo.markers[0].lng()}}"
					style="height:100%">
		<custom-marker ng-repeat="marker in geo.markers" position="{{marker.position.lat()}}, {{marker.position.lng()}}">
			<div class="efg-map-marker">
				<p>{{marker.title}}</p>
				<address ng-if="marker.address">{{marker.address}}</address>
			</div>
		</custom-marker>
	</ng-map>
</div>
<component classes="component-lg"
		   header="{{geo.we.street}}, {{geo.we.city}}"
		   subheader="Plane Deinen Weg zu uns.">
	<div class="col-sm-6" ng-repeat="connection in geo.we.connections">
		<h3>{{connection.title}}</h3>
		<p class="u-space-horizontal">
			<a ng-href="{{connection.url}}"
			   class="btn btn-lg btn-outline"
			   target="_blank">{{connection.action}}</a>
		</p>
		<div marked="connection.description"></div>
	</div>
</component>