<article class="component" ng-class="classes">
	<div class="container text-center">
		<header class="row"
                ng-if="header || subheader">
			<div class="col-md-12">
				<h2 ng-bind="header"></h2>
				<p ng-bind="subheader" class="text-eased"></p>
			</div>
		</header>
		<div ng-if="issinglecolumn"
             class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-left"
                 ng-transclude></div>
        </div>
        <div ng-if="!issinglecolumn"
             class="row"
             ng-transclude></div>
	</div>
</article>