<component classes="component-sm bg-img bg-dark text-center component-sermon"
           style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(//unsplash.com/photos/G6G93jtU1vE/download)"
           header="{{sermon.header}}"
           subheader="{{sermon.subheader}}">
    <button ng-click="sermon.again()"
            class="btn btn-outline btn-light"
            title="{{sermon.frameduration}} Sekunden zurückspulen">
        <i class="glyphicon glyphicon-repeat glyphicon-flip-horizontal"></i>
    </button>
    <button ng-click="sermon.playpause()"
            class="btn btn-outline btn-light">
        <i class="glyphicon"
           ng-class="{'glyphicon-play': sermon.ispaused, 'glyphicon-pause': !sermon.ispaused}"></i>
    </button>
    <button ng-click="sermon.skip()"
            class="btn btn-outline btn-light"
            title="{{sermon.frameduration}} Sekunden vorspulen">
        <i class="glyphicon glyphicon-repeat"></i>
    </button>
    <progress class="sermon-progress"
              value="{{sermon.currenttime || 0}}"
              max="{{sermon.duration || 1}}">
    </progress>
</component>
<component classes="component-sm component-singlecolumn">
    <sermons></sermons>
</component>