<nav class="headerbar headerbar-fixed-top">
    <ul class="headerbar-items">
        <li class="headerbar-item headerbar-brand">
            <a href="#!/">
                <img alt="EFG Ludwigshafen"
                     src="assets/img/logo.svg"
                     class="img-responsive">
            </a>
        </li>
        <headeraction ng-repeat="item in leftitems"
                      item="item">
            {{item.content}}
        </headeraction>
    </ul>
    <ul class="headerbar-rightitems"
        ng-if="sermon">
        <li class="headerbar-item">
            <a href="#!/sermon">
                {{sermon.name}}<br>
                <small>{{sermon.preacher}} &ndash; {{sermon.date | date:'dd.MM.yyyy'}}</small>
            </a>
        </li>
        <li class="headerbar-item">
            <button analytics-on analytics-category="Media" analytics-event="Play" analytics-label="{{sermon.preacher}} &ndash; {{sermon.date | date:'dd.MM.yyyy'}}"  ng-click="playpause.action()"
                    class="btn btn-outline headerbar-btn">
                <i ng-class="playpause.img"></i>
            </button>
        </li>
    </ul>
</nav>
