<nav class="headerbar headerbar-fixed-top">
    <style>
        .headerbar:after { transform: scaleX({{position}}); }
    </style>
    <ul class="headerbar-items">
        <li class="headerbar-item headerbar-brand">
            <a href="#!/">
                <img alt="EfG Ludwigshafen"
                        src="assets/img/logo.svg"
                        class="img-responsive">
            </a>
        </li>
        <headeraction ng-repeat="item in leftitems"
                        item="item">
            {{item.content}}
        </headeraction>
    </ul>
    <ul class="headerbar-rightitems"
        ng-if="sermon">
        <li class="headerbar-item">
            <a href="#!/sermon">
                {{sermon.name}}<br>
                <small>{{sermon.preacher}} &ndash; {{sermon.date | date:'dd.MM.yyyy'}}</small>
            </a>
        </li>
        <headeraction item="playpause"></headeraction>
    </ul>
</nav>
