<nav class="headerbar headerbar-fixed-top">
    <ul class="headerbar-items">
        <li class="headerbar-item">
            <a href="#!/"
                class="headerbar-brand">
                <img alt="EfG Ludwigshafen"
                        src="assets/img/logo.svg"
                        class="img-responsive">
            </a>
        </li>
        <headeraction ng-repeat="item in leftitems"
                        item="item">
            {{item.content}}
        </headeraction>
    </ul>
    <ul class="headerbar-rightitems"
        ng-if="sermon">
        <li class="headerbar-item">
            {{sermon.name}}<br>
            <small>{{sermon.preacher}} &ndash; {{sermon.date | date:'dd.MM.yyyy'}}</small>
        </li>
        <headeraction item="playpause"></headeraction>
    </ul>
</nav>
