<li class="headerbar-item">
    <button ng-if="item.type === 'button'" ng-href="{{item.href}}"
            ng-click="item.action()"
            class="btn btn-outline headerbar-btn">
        <i ng-if="item.img && item.img.indexOf(' ') > -1"
           ng-class="item.img"></i>
        <img ng-if="item.img && item.img.indexOf(' ') === -1"
             ng-src="item.img | responsive"
             class="img-responsive"/>
        <span ng-transclude></span>
    </button>
    <div ng-if="item.type === 'text'">{{item.content}}</div>
    <div class="input-group input-group-outline" ng-if="item.type === 'search'">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input placeholder="{{item.content}}" type="search" class="form-control"  ng-change="item.action(searchString)" ng-model="searchString">
     </div>
</li>
