svg {
	.c-primary {
		fill: @c-primary;
	}
	.c-light {
		fill: @c-background;
	}
	.c-dark {
		fill: @c-content;
	}

	text {
		font-family: @f-font-family;
		font-size: 92px;
		font-weight: 300;
	}
}

.popupwindow {
	position: absolute;
	max-width: 60vw;
	margin-top: 50vh;
	margin-left: 50vw;
	padding: 2rem;
	transform: translate(-50%, -100%);
	border-radius: 2rem;
	background-color: fade(@c-accent-5, 95);
	z-index: 1;
}