.members.component-lg {
    .thumbnail {
        .glyphicon {
            font-size: 4 * @u-unit;;
            line-height: 1.2;
        }

        .img-thumbnail {
            width: 7 * @u-unit;
            height: 7 * @u-unit;
        }
    }
}