// provides classes to style the background of arbitrary elements
@import '_variables.less';
@import '_mixins.less';

.bg-img {
	background-repeat: no-repeat;
	background-position: center;

    * {
        text-shadow: 0 (.1 * @u-unit) (.2 * @u-unit) fade(@c-content-inverse, 60);
    }

    &.bg-dark * {
        text-shadow: 0 (.1 * @u-unit) (.2 * @u-unit) fade(@c-content, 60);
    }
}

.bg-primary {
	color: @c-content-inverse;
	background-color: @c-primary;

	.text-eased,
	&.text-eased {
			color: @c-content-inverse-eased;
	}

	.btn-outline {
			.btn-outline;
			.btn-light;
	}
	
	a {
		color: @c-content-inverse;
		text-decoration: underline;
	}

	a.btn {
		text-decoration: none;
	}
}

.bg-light {
	color: @c-content;
	background-color: @c-background;

	.text-eased,
	&.text-eased {
		color: @c-content-eased;
	}
}

.bg-dark {
	color: @c-content-inverse;
	background-color: @c-background-inverse;

	.text-eased,
	&.text-eased {
		color: @c-content-inverse-eased;
	}

	.btn-outline {
		.btn-outline;
		.btn-light;
	}
}

._bg-img-dark(@url) {
	@black: fade(@c-black, 70%);
	background-image:
		linear-gradient(@black, @black),
		url(@url);
}