// provides classes to style the background of arbitrary elements
@import '_variables.less';
@import '_mixins.less';

.bg-img {
	background-repeat: no-repeat;
	background-position: center;
//	background-size: cover; // may cause slow
}

.bg-light {
	color: @c-content;
	background-color: @c-background;
	
	.text-eased,
	&.text-eased {
		color: @c-content-eased;
	}
}

.bg-dark {
	color: @c-content-inverse;
	background-color: @c-background-inverse;
	
	.text-eased,
	&.text-eased {
		color: @c-content-inverse-eased;
	}
}

._bg-img-dark(@url) {
	@black: fade(@c-black, 70%);
	background-image:
		linear-gradient(@black, @black),
		url(@url);
}