// additions/changes to bootstraps .btn

@import '_variables.less';

.btn {
	border-radius: .125 * @u-unit;
    white-space: normal;
}

.btn-large {
	border-radius: .25 * @u-unit;
}

// creates a button that is outlined instead of full-color
.btn-outline {
	background-color: transparent;
	border-color: transparent;

	transition:
		background-color @t-fast @t-timing,
		color @t-fast @t-timing;
	will-change:
		background-color,
		color;

	._generate-btn-outline(@c-content-eased);

	&.btn-primary { ._generate-btn-outline(@brand-primary); }
	&.btn-success { ._generate-btn-outline(@brand-success); }
	&.btn-info { ._generate-btn-outline(@brand-info); }
	&.btn-warning { ._generate-btn-outline(@brand-warning); }
	&.btn-danger { ._generate-btn-outline(@brand-danger); }
	&.btn-light {
        color: @c-content-inverse;
        border-color: @c-content-inverse;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: @c-content-inverse;
            background-color: fade(@c-content-inverse, 20);
        }
    }
}

// generates color-specific outlined buttons
._generate-btn-outline(@color) {
	color: @color;
	border-color: @color;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: darken(@color, 20);
		background-color: fade(@color, 20);
	}
}