// colors (c- prefixed):
//
// - c-content is the main content color (dark, when on light background)
// - c-background is the main background color
// - *-eased is a weaker version of the color
// - *-inverse is a inversed version of the color (e.g. dark instead of light)
@c-white: #ffffff;
@c-black: #000000;

@c-content: #132532;
@c-content-eased: desaturate(lighten(@c-content, 20), 50);
@c-content-inverse: @c-white;
@c-content-inverse-eased: #ebebeb;

@c-primary: #55ace8;

@c-accent-1: spin(@c-primary, 204);
@c-accent-2: spin(@c-primary, 51);
@c-accent-3: spin(@c-primary, 255);
@c-accent-4: spin(@c-primary, 102);
@c-accent-5: spin(@c-primary, 153);
@c-accent-6: spin(@c-primary, 306);

@c-background: #ebebeb;
@c-background-inverse: @c-content;

// timings (t- prefixed)

@t-fast: .2s;
@t-slow: .5s;
@t-timing: ease-in-out;

// units (u- prefixed)

@u-unit: 1rem;

@u-navbar-height: 4.5 * @u-unit;
@u-navbar-vertical-padding: .5 * @u-unit;
@u-navbar-horizontal-padding: 2 * @u-unit;

// fonts (f- prefixed)

@f-font-family: 'Source Sans Pro', sans-serif;

// ===== bootstrap overrides ==================================================

@gray-base: @c-black;
@brand-primary: @c-primary;

@font-family-sans-serif: @f-font-family;
@font-size-base: @u-unit;
@font-size-small: .8 * @u-unit;
@font-size-large: @u-unit;

@padding-base-vertical: .5 * @u-unit;
@padding-base-horizontal: @u-unit;

@thumbnail-padding: @padding-base-vertical;

@icon-font-path: '/assets/fonts/';

@border-radius-base: .125 * @u-unit;
@border-radius-large: .25 * @u-unit;